<ion-header>
  <ion-toolbar>
    <ion-title>Add Invitee</ion-title>
    <ion-buttons  slot="start">
      <ion-button (click)="backBtn()">
        <ion-icon name="arrow-back" style="font-size: 1.2rem"  color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Invitee Name</mat-label>
     <input matInput  type="text" placeholder="Invitee Name" [(ngModel)]="PostData.visitor_name" name="visitor_name" autocomplete="off" required>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Mobile Number</mat-label>
     <input matInput  type="number" maxlength="10" placeholder="eg.07XX 06XXX" [(ngModel)]="PostData.mobile_no" name="mobile_no" autocomplete="off" required>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Enter Card Size</mat-label>
     <input matInput  type="number" placeholder="Card Size" [(ngModel)]="PostData.no_of_persons" name="no_of_persons" autocomplete="off" required>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Table Number</mat-label>
     <input matInput  type="text" placeholder="Table Number" [(ngModel)]="PostData.table_number" name="table_number" autocomplete="off"  >
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Email</mat-label>
     <input matInput  type="text" placeholder="Email" [(ngModel)]="PostData.email_address" name="email_address" autocomplete="off"  >
  </mat-form-field>
  <ion-button expand="block" (click)="saveData()">Submit</ion-button>
</ion-content>
