<ion-content class="ion-padding">
  <ion-icon name="arrow-back" (click)="backBtn()" style="font-size: 1.4em;"></ion-icon>
  
  <div class="content ion-padding">
    <div class="ion-text-center">
      <img src="assets/icon/E-nvit.jpg">
    </div>
    <div class="ion-text-center heading ion-padding">Change Password</div>
    <div class="ion-text-center ion-padding">
      <!-- <p>Please Enter valid mobile number </p> -->
    </div>
    <p style="width: 100%; margin-top: -15px;">
     
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Curent Password</mat-label>
        <!-- <input matInput placeholder="Enter Email" [(ngModel)]="postEmail.Email_Address" name="Email_Address" email aria-autocomplete="off">       -->
        <input matInput placeholder="Current Password" [(ngModel)]="postData.current_password" type="password">      
      </mat-form-field> 
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>New Password</mat-label>
        <!-- <input matInput placeholder="Enter Email" [(ngModel)]="postEmail.Email_Address" name="Email_Address" email aria-autocomplete="off">       -->
        <input matInput placeholder="New password" [(ngModel)]="postData.New_Password" type="password">      
      </mat-form-field> 
    </p>
      <ion-button expand="block" (click)="changPass()">Confirm</ion-button> 
     
  </div>
</ion-content>
<!-- <p>Don't have an account?<button [routerLink]="['/loginpage']">Register</button> -->
  <!-- c29134c687msh71e37f2a20d1817p1a522djsn98bf789616e6 -->