<ion-tabs [environmentInjector]="environmentInjector">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <img src="assets/icon/home.png" width="35px" />
      <ion-label> {{"tabs.home" | translate}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="verifycode">
      <img src="assets/icon/verified.png" width="35px" />
      <ion-label> {{"tabs.verify" | translate}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="assets/icon/invitee.png" width="35px" />
      <ion-label> {{"tabs.invitee" | translate}} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
