<app-navbar></app-navbar>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between mb-2">
      <h1 class="display-4">List of all visitors</h1>
      <ion-button (click)="addInvitees()" aria-label="Add">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-searchbar
      showCancelButton="focus"
      [formControl]="searchInput"
    ></ion-searchbar>
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center my-2">
        <ion-button
          (click)="showingList = true"
          [fill]="showingList ? '' : 'clear'"
        >
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
        <ion-button
          (click)="showingList = false"
          [fill]="!showingList ? '' : 'clear'"
        >
          <ion-icon slot="icon-only" name="grid"></ion-icon>
        </ion-button>
      </div>
      <ng-container *ngIf="showingList; else tableView">
        <div id="list-view" class="d-flex flex-column" [@inOutAnimation]>
          <div
            *ngFor="let invitee of dataSource.filteredData | slice
            : 1 + paginator.pageSize * paginator.pageIndex - 1
            : 1 +
                paginator.pageSize * paginator.pageIndex +
                paginator.pageSize -
                1; index as ind;"
            class="d-flex flex-column mb-2 rounded px-2 py-1 shadow-sm"
            [class]="ind % 2 === 0 ? 'gray-color' : 'bg-white'"
            #templateList
          >
            <div
              class="d-flex align-items-center justify-content-between border-b p-1"
            >
              <ion-text class="fw-bold">Visitor Name</ion-text>
              <ion-text class="text-right">{{invitee.visitor_name}}</ion-text>
            </div>
            <div
              class="d-flex align-items-center justify-content-between border-b p-1"
            >
              <ion-text class="fw-bold">Mobile</ion-text>
              <ion-text class="text-right">{{invitee.mobile_no}}</ion-text>
            </div>
            <div
              class="d-flex align-items-center justify-content-between border-b p-1"
            >
              <ion-text class="fw-bold">Size</ion-text>
              <ion-text class="text-right">{{invitee.no_of_persons}}</ion-text>
            </div>
            <div
              class="d-flex align-items-center justify-content-between border-b p-1"
            >
              <ion-text class="fw-bold">Table No.</ion-text>
              <ion-text class="text-right">{{invitee.table_number}}</ion-text>
            </div>
          </div>
          <ng-container *ngIf="!tableLoading">
            <div class="border-t border-b grid place-items-center">
              <ion-text
                *ngIf="dataSource.data.length <= 0"
                class="text-center text-sm tracking-wide p-3"
              >
                No invitees yet
              </ion-text>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #tableView>
        <div [@inOutAnimation] style="overflow-x: auto; overflow-y: auto">
          <table
            class="table table-striped table table-striped"
            style="position: sticky"
          >
            <thead>
              <tr>
                <th>Visitor Name</th>
                <th>Mobile</th>
                <th>Size</th>
                <th>Table</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let invitee of dataSource.filteredData | slice
              : 1 + paginator.pageSize * paginator.pageIndex - 1
              : 1 +
                  paginator.pageSize * paginator.pageIndex +
                  paginator.pageSize -
                  1; index as ind;"
                class="listMargin"
              >
                <td>
                  <ion-text>{{invitee.visitor_name}}</ion-text>
                </td>
                <td>
                  <ion-text>{{invitee.mobile_no}}</ion-text>
                </td>
                <td>
                  <ion-text>{{invitee.no_of_persons}}</ion-text>
                </td>
                <td>
                  <ion-text>{{invitee.table_number}}</ion-text>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>

      <ng-container *ngIf="dataSource.filteredData.length === 0">
        <ion-text
          >No data matching the filter <b>"{{searchInput.value}}"</b></ion-text
        >
      </ng-container>

      <mat-paginator
        #paginator
        [length]="dataSource.data.length"
        [pageSize]="5"
        aria-label="Select page"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </div>
</ion-content>
