<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>List of all visitors</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addInvitees()">
        <ion-icon name="add" size="large"  color="light"></ion-icon>
      </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="filterTerm"  showCancelButton="focus"></ion-searchbar>
  <div style="overflow-x: auto; overflow-y: auto;">
  <table class="table table-striped table table-striped" style="position:sticky">
    <thead>
      <tr>
        <th>Visitor Name</th>
        <th>Size</th>
        <th>Table</th>
        <th>Mobile  </th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invitee of listOfInvitee |filter:filterTerm | paginate: { itemsPerPage: 8, currentPage: cp }" class="listMargin">
        <td>{{invitee.visitor_name}}</td>
        <td style="text-align: center;">{{invitee.no_of_persons}}</td>
        <td>{{invitee.table_number}}</td>
        <td>{{invitee.mobile_no}}</td>
       </tr>
    </tbody>
  </table>
  </div>
  <mat-menu #belowMenu="matMenu" yPosition="below">
      <button class="btn btn-primary" mat-menu-item (click)="checkIn()">Check In</button>
  </mat-menu>
  <pagination-controls (pageChange)="cp= $event"></pagination-controls>
</ion-content> -->

<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="fw-bold">{{eventname.toLocaleUpperCase()}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-icon
      mat-button
      [matMenuTriggerFor]="belowMenu"
      name="person-circle"
      style="font-size: 2.4em"
      slot="end"
    >
    </ion-icon>

    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="changepass()">Change Password</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-title class="text-uppercase text-white fw-bold">B-Envit</ion-title>
    <ion-buttons [matMenuTriggerFor]="belowMenu" [collapse]="true" slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <!-- <button mat-menu-item (click)="switchEvent()">Switch Event</button> -->
      <button mat-menu-item (click)="changepass()">Change Password</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between mb-2">
      <h1 class="display-4">List of all visitors</h1>
      <ion-button (click)="addInvitees()" aria-label="Add">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-searchbar
      showCancelButton="focus"
      [formControl]="searchInput"
    ></ion-searchbar>
    <div style="overflow-x: auto">
      <div id="list-view" class="d-flex flex-column">
        <div
          *ngFor="let invitee of dataSource.filteredData | slice
          : 1 + paginator.pageSize * paginator.pageIndex - 1
          : 1 +
              paginator.pageSize * paginator.pageIndex +
              paginator.pageSize -
              1; index as ind;"
          class="d-flex flex-column mb-2 rounded px-2 py-1 shadow-sm"
          [class]="ind % 2 === 0 ? 'gray-color' : 'bg-white'"
        >
          <div
            class="d-flex align-items-center justify-content-between border-b p-1"
          >
            <ion-text class="fw-bold">Visitor Name</ion-text>
            <ion-text class="text-right">{{invitee.visitor_name}}</ion-text>
          </div>
          <div
            class="d-flex align-items-center justify-content-between border-b p-1"
          >
            <ion-text class="fw-bold">Size</ion-text>
            <ion-text class="text-right">{{invitee.no_of_persons}}</ion-text>
          </div>
          <div
            class="d-flex align-items-center justify-content-between border-b p-1"
          >
            <ion-text class="fw-bold">Table No.</ion-text>
            <ion-text class="text-right">{{invitee.table_number}}</ion-text>
          </div>
          <div
            class="d-flex align-items-center justify-content-between border-b p-1"
          >
            <ion-text class="fw-bold">Mobile</ion-text>
            <ion-text class="text-right">{{invitee.mobile_no}}</ion-text>
          </div>
        </div>
        <ng-container *ngIf="!tableLoading">
          <div class="border-t border-b grid place-items-center">
            <ion-text
              *ngIf="dataSource.data.length <= 0"
              class="text-center text-sm tracking-wide p-3"
            >
              No invitees yet
            </ion-text>
          </div>
        </ng-container>
      </div>

      <mat-paginator
        #paginator
        [length]="dataSource.data.length"
        [pageSize]="5"
        aria-label="Select page"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </div>

  <!-- <div style="overflow-x: auto; overflow-y: auto">
    <table
      class="table table-striped table table-striped"
      style="position: sticky"
    >
      <thead>
        <tr>
          <th>Visitor Name</th>
          <th>Size</th>
          <th>Table</th>
          <th>Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let invitee of listOfInvitee |filter:filterTerm | paginate: { itemsPerPage: 8, currentPage: cp }"
          class="listMargin"
        >
          <td>{{invitee.visitor_name}}</td>
          <td style="text-align: center">{{invitee.no_of_persons}}</td>
          <td>{{invitee.table_number}}</td>
          <td>{{invitee.mobile_no}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <!-- <mat-menu #belowMenu="matMenu" yPosition="below">
    <button class="btn btn-primary" mat-menu-item (click)="checkIn()">
      Check In
    </button>
  </mat-menu> -->
</ion-content>
