
ion-header{
  ion-toolbar{
    --background: #f5f5f3;
  }
}
ion-content{
    margin-top:40px;
  --background: #f5f5f3;
   ion-card{
    border-radius: 0 0 10px 10px;
    // padding: 55px;
    // margin-top: 1000px;

  }
}
