 <ion-content class="ion-padding"> 
  <div id="header">
    <img src="assets/icon/E-nvit.jpg">
    <h2>B - e n v i t </h2>
    <hr class="line">
   </div>

   <span class="priceH">
    <p>Price List </p>
   </span>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="box1">
        <p>Medium TSH 1,500/=</p>
           <ul>
            <li>Kadi ya Kielectroniki Yenye QR code</li>
            <li>Ujumbe wa meseji kwa wasio na simu janja</li>
            <li>Meseji ya Shukrani baada ya sherehe</li>
            <li>Kadi ya Kielectronic Yenye QR code</li>
            <li>Ukaguzi (Scanning) wa kadi ni juu ya mteja</li>
           </ul> 
        
      </div>
    </ion-slide>
    <ion-slide >
      <div class="box1">
        <p>Premium TSH 2,000/=</p>
           <ul>
            <li>Kadi ya Kielectroniki Yenye QR code</li>
            <li>Ujumbe wa meseji kwa wasio na simu janja</li>
            <li>Meseji ya Shukrani baada ya sherehe</li>
            <li>Kadi ya Kielectronic Yenye QR code</li>
            <li>Mtu mmoja kwa ajili ya ukaguzi wa kadi(kwa kadi 300 na kuendelea)</li>
           </ul> 
        
      </div>
    </ion-slide>
    <ion-slide >
      <div class="box1">
        <p>Combo TSH 2,500/=</p>
           <ul>
            <li>Kadi ya Kielectroniki Yenye QR code</li>
            <li>Ujumbe wa meseji kwa wasio na simu janja</li>
            <li>Meseji ya Shukrani baada ya sherehe</li>
            <li>Kadi ya Kielectronic Yenye QR code</li>
            <li>Kadi moja(1) ya mchango</li>
            <li>Watu wawili kwa ajili ya ukaguzi wa kadi(kwa kadi 300 na kuendelea)</li>
           </ul> 
        
      </div>
    </ion-slide>
  </ion-slides>

  <h3>NOTE:</h3>
  <p style="font-style: italic;">Ukaguzi wa kadi (Card Scanning) ni Sherehe za Dar Es Salaam tu, kwa uhitaji wa mtu wa ziada wa ukaguzi wa kadi ni Tsh 60,000/= kila mmoja</p>
<div class="cont">
  <!-- <p>Contacts</p>
  <ion-row>
    <ion-col size="6"><ion-icon name="logo-whatsapp" color="success" size="large"></ion-icon>
      +255 684 831 846 
    </ion-col>
       <ion-col size="6"><ion-icon name="logo-instagram" color="success" size="large">
        @b_envit
       </ion-icon>
       </ion-col> 
  </ion-row> -->
 </div>
</ion-content>