<!-- <div class="d-flex flex-column w-100 min-vh-100">
  <div
    class="d-flex align-items-center justify-content-between px-4 py-2 header-banner"
  >
    <p class="fw-bold display-3 mt-3">E-nvit</p>
    <mat-icon style="font-size: 36px" matPrefix>account_circle</mat-icon>
  </div>
  <div class="d-flex flex-column px-4 py-2">
    <div class="display-4">Welcome</div>
    <div class="small pl-1">Please select an event to continue.</div>
  </div>
  <div style="overflow-y: scroll" class="d-flex flex-column w-100">
    <div class="card w-100">
      <mat-selection-list #selectionList [multiple]="false">
        <mat-list-option
          checkboxPosition="before"
          *ngFor="let eventDetail of eventsList"
          [value]="eventDetail.event_id"
          class="fw-bold lead"
        >
          {{ eventDetail.event_name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="p x-4 mt-auto">
    <ion-button
      (click)="openDashboard()"
      class="py-2 mt-auto"
      type="ngSubmit"
      form="form"
      expand="block"
      >NEXT</ion-button
    >
  </div>
</div> -->

<ion-header>
  <ion-toolbar>
    <ion-title>B-Envit</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
        Log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="d-flex flex-column py-4">
    <div class="display-4">Welcome</div>
    <div class="small">Please select an event to continue.</div>
  </div>
  <mat-list role="list">
    <mat-list-item
      role="listitem"
      *ngFor="let eventDetail of eventsList; index as ind"
    >
      <mat-radio-button
        (change)="eventChanged(ind)"
        [checked]="ind === selected"
        color="primary"
        [value]="eventDetail.event_id"
      >
        {{ eventDetail.event_name }}
      </mat-radio-button>
    </mat-list-item>
  </mat-list>
  <button
    (click)="openDashboard()"
    color="accent"
    form="form"
    expand="block"
    mat-raised-button
    type="ngSubmit"
    class="w-100"
  >
    Continue
  </button>
</ion-content>
