<app-navbar></app-navbar>
<ion-content class="ion-padding">
  <div class="d-flex flex-column py-4">
    <ion-text class="display-4">Welcome</ion-text>
    <ion-text class="small">Please select an event to continue.</ion-text>
  </div>
  <mat-list role="list" class="w-100">
    <mat-list-item
      class="w-100"
      role="listitem"
      *ngFor="let eventDetail of eventsList; index as ind"
    >
      <mat-radio-button
        (change)="eventChanged(ind)"
        [checked]="ind === selected"
        color="primary"
        [value]="eventDetail.event_id"
        class="w-100"
      >
        {{ eventDetail.event_name }}
      </mat-radio-button>
    </mat-list-item>
  </mat-list>
  <button
    (click)="openDashboard()"
    color="accent"
    form="form"
    expand="block"
    mat-raised-button
    type="ngSubmit"
    class="w-100"
  >
    Continue
  </button>
</ion-content>
