ion-header{
  ion-toolbar{
    --background: #7590d6;
        // border-radius: 0px 0px 30px 30px;
        height: 60px;
        color: #fff;
        text-align: center;
        // margin-top:16px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 600;

      ion-title{
          margin-top: 15px;
          font-size: 1.5em;
      }
  }
}
ion-content{
  --background: #f5f5f3;
  font-size: 1.2em;

  ion-card{
      border-radius: 0px 0px 15px 15px;
 color: black;
  height: auto;
  ion-card-content{
    ion-label{
      // padding-bottom: 20px;
      font-size: 1.0em;
      font-weight: 600;

    }
  }

  }
  ion-button{
  background-color: #7590d6;
  }
  
}
