ion-content {
  --background: #f5f5f3;
  font-size: 1.2em;

  // ion-card {
  //   border-radius: 0px 0px 15px 15px;
  //   color: black;
  //   height: auto;
  //   ion-card-content {
  //     ion-label {
  //       // padding-bottom: 20px;
  //       font-size: 1em;
  //       font-weight: 600;
  //     }
  //   }
  // }
  // ion-button {
  //   background-color: #7590d6;
  // }
}

.verify-button {
  background-color: #2dd36f;
  color: #ffffff;
}
