<ion-header>
  <ion-toolbar>
    <ion-title class="text-uppercase text-white fw-bold">B-Envit</ion-title>
    <ion-buttons [matMenuTriggerFor]="belowMenu" [collapse]="true" slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="changepass()">Change Password</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="event-detail-grid">
    <ion-row>
      <ion-col size="6" class="d-inline-flex">
        <p class="fw-bold mr-1">Event:</p>
        <p class="text-truncate">{{eventname}}</p>
      </ion-col>
      <ion-col size="6" class="d-inline-flex justify-content-end">
        <p class="fw-bold text-right mr-1">Date:</p>
        <p class="text-right text-truncate">{{'Thu Oct 24 2024'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <highcharts-chart
          #chartCol
          [Highcharts]="Highcharts"
          [options]="chartOptions"
        >
        </highcharts-chart>
      </ion-col>
      <ion-col size="6" class="d-flex flex-column">
        <div class="visitor-stats d-flex flex-column align-items-end mb-4">
          <ion-text class="mb-2"> Visitors In </ion-text>
          <ion-text color="success"> {{guestIn}} </ion-text>
        </div>
        <div class="visitor-stats d-flex flex-column align-items-end">
          <ion-text class="mb-2"> Visitors remaining </ion-text>
          <ion-text color="danger"> {{totalGuest - guestIn}} </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div
    (click)="startScanning()"
    class="qrClass d-flex flex-column w-100 justify-content-center align-items-center"
  >
    <img
      src="assets/icon/qr-code.png"
      alt="centered image"
      style="margin-top: 20px"
      width="100px"
    />
    <ion-text class="mt-1">Click here to Verify Guest</ion-text>
  </div>

  <div class="last">
    <ion-searchbar
      showCancelButton="focus"
      [(ngModel)]="filterTerm"
    ></ion-searchbar>
  </div>

  <div style="overflow-x: auto">
    <table class="table table-striped table table-striped">
      <thead>
        <tr *ngIf="listOfInvitee">
          <th>Visitor Name</th>
          <th>card scaned</th>
          <th>Table No</th>
          <th>Verified by</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let invitee of listOfInvitee |filter:filterTerm | paginate: { itemsPerPage: 5, currentPage: cp }"
          class="listMargin"
        >
          <td>{{invitee.visitor_name}}</td>
          <td>{{invitee.scan_status}}</td>
          <td>{{invitee.table_number}}</td>
          <td>{{invitee.scanned_by}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="cp = $event"
      *ngIf="listOfInvitee"
    ></pagination-controls>
  </div>
</ion-content>
