<ion-header>
  <ion-toolbar>
    <!-- <a
      [routerLink]="'/tabs/dashboard'"
      class="text-uppercase text-white fw-bold title"
      mat-button
    >
      B-Envit
    </a> -->
    <a
      (click)="logoClicked()"
      class="text-uppercase text-white fw-bold title"
      mat-button
    >
      B-Envit
    </a>
    <ion-buttons [matMenuTriggerFor]="belowMenu" [collapse]="true" slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="openChangePassword()">
        {{ "navbar.languages" | translate }}
      </button>
      <button mat-menu-item (click)="changepass()">
        {{ "navbar.changeLanguage" | translate }}
      </button>
      <button mat-menu-item (click)="logout()">
        {{ "navbar.logout" | translate }}
      </button>
    </mat-menu>
  </ion-toolbar>
</ion-header>
